

header {
  display: inline-block;
  height: 300%;
  vertical-align: middle;
  float: right;
  padding: 10px;
}

.rooms {
 
  width: 20%;
  
  border-style: solid;
  border-color: whitesmoke;
  background-color: white;
  text-align: left;
 
  height: 100%;
} 

.messages {
  

  border-style: solid;
  border-color: whitesmoke;
  background-color: white;
  text-align: left;
  height: 100%;
  
} 

.Room-list {
color : #9f9d9a;
text-align: left;
}
  
ul {
  text-align: left;
  margin-left: -20px;
  font-weight: lighter;
}

input[type=text] {
  border: 0;
  outline: 0;
  margin-left: 20px;
  padding-bottom: 10px;
  background: transparent;
  border-bottom: 1px solid #585858;
}

input[type=submit] {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  background:#ccc; 
}

input[type=text]:focus {
  background-color: lightcyan;
}

button {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  background:#ccc; 
}


h2, h3, h4 {
  color: #494a49;
  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
}


