Container {

}

Header {
align-content: center;
}

User-Menu {

}

.Room-Column {
  float: left;
  width: 20%;
  padding: 10px;
  border-style: solid;
  border-color: whitesmoke;
  background-color: whitesmoke;
  text-align: left;
  position: absolute;
  height: 100%;
}

.Messages {
  float: center;
  border-style: solid;
  border-color: whitesmoke;
  background-color: white;
  text-align: left;
  height: 100%; 
}

[type=text] {
  border: 0;
  outline: 0;
  margin-left: 20px;
  padding-bottom: 10px;
  background: transparent;
  border-bottom: 1px solid #585858;
  width: 500px;

}

input[type=submit] {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  background:#ccc; 
}

input[type=text]:focus {
  background-color: lightcyan;
}

button {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    background:#ccc; 
}


h2 {
  color: #494a49;
  text-align: left;
  padding-left: 20px;
}

h3, h4 {
  color: #494a49;
  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
}
