.App {
  text-align: center;
}


 .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav-column {
  float: left;
  width: 20%;
  padding: 10px;
  border-style: solid;
  border-color: whitesmoke;
  background-color: whitesmoke;
  text-align: left;
  position: absolute;
  height: 100%;
} 

.Message-column {
  float: right;
  width: 80%;
  border-style: solid;
  border-color: whitesmoke;
  background-color: white;
  text-align: left;
  height: 100%; 
} 

.Room-list {
color : #9f9d9a;
text-align: left;
}
  
ul {
  text-align: left;
  margin-left: -20px;
  font-weight: lighter;
}

input[type=text] {
  border: 0;
  outline: 0;
  margin-left: 20px;
  padding-bottom: 10px;
  background: transparent;
  border-bottom: 1px solid #585858;
}

input[type=submit] {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  background:#ccc; 
}

input[type=text]:focus {
  background-color: lightcyan;
}

h2 {
  color: #494a49;
  text-align: left;
  padding-left: 20px;
}

h3, h4 {
  color: #494a49;
  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
}
